<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block titulo %}Base{% endblock titulo %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css ">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/flat-ui.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.ui.all.css">

	{% block cssExtra %}{% endblock cssExtra %}

</head>
<body>
<div class="content">
	<nav class="navbar navbar-inverse navbar-fixed-top" id='navegacion'>
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">XenSqlBackups</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse ">
			<ul class="nav navbar-nav">
			<li><a href="{% url 'master:index' %} ">Inicio</a></li>
			<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role='button'>Respaldos <span class="caret"></span></a>

					<span class="dropdown-arrow dropdown-arrow-inverse " id ='mio_flecha'></span>
					<ul class="dropdown-menu " id='mio_menu' role='menu'>
						<li class=""><a href="{%url 'master:crear_backups' %}">Crear Respaldo</a></li>
						<li><a href="{% url 'master:listar' %} ">Listar</a></li>
					</ul>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right" id ='caja_usuario'>

				<li>{% if user.is_authenticated %}
							<div class="usuario">{{user.username|title}}(<a href="{% url 'master:logout' %} ">Salir</a>)</div>

					{% else %}
							<div class="usuario">Anonimo (<a href="{%url 'master:login' %}">Iniciar</a>)</div>
					{% endif %}
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>

</div>

<div class="content bloque_contenido">
	{% block contenido %}{% endblock contenido %}
</div>

<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js "></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js "></script>
<script src="{{ STATIC_URL }}js/jquery.ui.touch-punch.min.js"></script>

{% block scriptExtra %}{% endblock scriptExtra %}
</body>
</html>