{% extends "base.html" %}

{% block contenido %}
	<h2>Systema de Backups para mysql</h2>
	<div class="row">
	<div class="login_form">
		<legend>

				<div class="row">
					<div class="col-xs-10 col-sm-10">Datos Server</div>
					<div class="col-xs-2 col-sm-2">
						<span class='ayuda_form glyphicon glyphicon-info-sign' data-toggle="modal" data-target="#myModal" title="Ayuda" > </span>
					</div>
				</div>
		</legend>
		<div class="row">
			<div class="row">
				<div class="col-xs-10 col-sm-10">
					<span class='index_cuestions'>Esta instalado Mysql ? </span>
				</div>
				<div class="col-xs-1 col-sm-1">{% if  instalado == '' %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-sm-10">
					<span class='index_cuestions'>Esta corriendo Mysql ? </span>
				</div>
				<div class="col-xs-1 col-sm-1">{% if  estado == 'start' %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-sm-10">
					<span class='index_cuestions'>Datos de Host</span>
				</div>
				<div class="col-xs-1 col-sm-1">{% if  datoshost > 0 %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-sm-10">
					<span class='index_cuestions'>Backups Creados</span>
				</div>
				<div class="col-xs-1 col-sm-1">{% if  backup > 0 %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
		</div>
	</div>
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
      </div>
      <div class="modal-body">
        {{textoayuda}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock contenido %}