{% extends "base.html" %}

{% block contenido %}
	<h2>Systema de Backups para mysql</h2>
	<div class="row">
	<div class="login_form">

		<div class="row">
			<div class="row">
				<div class="col-xs-10">
					<span>Esta instalado Mysql ? </span>
				</div>
				<div class="col-xs-1">{% if  instalado == '' %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					<span>Esta corriendo Mysql ? </span>
				</div>
				<div class="col-xs-1">{% if  estado == 'start' %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					<span>Datos de Host</span>
				</div>
				<div class="col-xs-1">{% if  datoshost > 0 %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
			<div class="row">
				<div class="col-xs-10">
					<span>Backups Creados</span>
				</div>
				<div class="col-xs-1">{% if  backup > 0 %}<span class="glyphicon glyphicon-check" title = 'si'></span> {% else %}<span class="glyphicon glyphicon-unchecked" title = 'no'></span> {% endif %}</div>
			</div>
		</div>
	</div>
	</div>
{% endblock contenido %}