{% extends "base.html" %}
{% block titulo %} Login {% endblock titulo %}
{% block contenido %}

	<div class="row">
		<div class="login_form">

			<form action="" method="POST" role="form">
				<legend>Inicio de Secion</legend>

				<div class="form-group login_campos">
					<label for="id_usuario">Usuario</label>
					<input type="text" class="form-control input-sm" id="id_usuario" placeholder="Usuario" required='required' title="Debe ingresar un usuario valido">
					<label for="id_password">Contraseña</label>
					<input type="password" name="id_password" id="id_password" class="form-control input-sm" required="required" title="debe colocar un password valido" placeholder = 'password'>
				</div>



				<button type="submit" class="btn btn-primary">Iniciar Secion</button>
			</form>
		</div>
	</div>
{% endblock contenido %}