{% extends "base.html" %}
{% block titulo %} Login {% endblock titulo %}
{% block contenido %}
	{% if user.is_authenticated %}
		<div class="row">
			<div class="login_form" >
				<div class="boton_salir">
					<a href="{% url 'master:logout' %} " class="btn btn-danger"> Cerrar Secion</a>

				</div>
			</div>
		</div>

	{% else %}
	<div class="row">
		<div class="login_form">

			<form action="" method="POST" role="form">{%csrf_token%}
				<legend>Inicio de Secion</legend>
				{{error}}
				<div class="form-group login_campos">
					<label for="id_usuario">Usuario</label>

					<input type="text" class="form-control input-sm" id="id_usuario" placeholder="Usuario" required='required' title="Debe ingresar un usuario valido" name="usuario">
					<label for="id_password">Contraseña</label>

					<input type="password" name="password" id="id_password" class="form-control input-sm" required="required" title="debe colocar un password valido" placeholder = 'password' >
				</div>



				<button type="submit" class="btn btn-primary">Iniciar Secion</button>
			</form>
		</div>
	</div>
	{{meta}}
	{% endif %}

	{{direccion}}
{% endblock contenido %}