{% extends "base.html" %}

{% block contenido %}
<div class="row">
	<div class="login_form">
		<legend>
			<div class="row">
				<div class="col-xs-10 col-sm-10">Listado de Backups</div>
				<div class="col-xs-2 col-sm-2">
					<span class='ayuda_form glyphicon glyphicon-info-sign' data-toggle="modal" data-target="#myModal" title="Ayuda" > </span>
				</div>
			</div>
		</legend>

			 {% for backup in listar %}

				<div class="row">
					<div class="col-xs-8 col-sm-8 letra-lista">
						{{backup.base_nombre|cut:"-.sql"}}
					</div>
					<div class="col-xs-4 col-sm-4">
						<div class="btn-group btn-group-xs">
							<a href="{{ STATIC_URL }}SqlBackup/{{backup.base_nombre}}" class="btn btn-default" title="Descargar">
								<span class ='glyphicon glyphicon-hdd'></span>
							</a>
							<a href="" class="btn btn-default" title="Crear Backup con este Archivo">
								<span class="glyphicon glyphicon-download-alt"></span>
							</a>
							<a href="" class="btn btn-default" title="Subir Archivo para el Backup">
							<spam class="glyphicon glyphicon-floppy-open"></spam>
							</a>
						</div>
					</div>
				</div>


			 {% endfor %}

	</div>
</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
      </div>
      <div class="modal-body">
        {{textoayuda}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock contenido %}
