#navegacion{
	border-radius: 0;
}
.bloque_contenido{
	padding: 5em;

}

.login_form{
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	max-width: 40%;
	padding: 3% 3% 3% 5%;
	margin-left: 30%;
	margin-top: 5%;
}
#mio_flecha{
	margin-top: 0;
	right: 20px;
}

#mio_menu{
	margin-top: 8px !important;
	left: -40%;
}

.usuario{
	color: white;
	padding-top: 8%;
}
#caja_usuario{
	margin-right: 2%;
}

#id_password{
	width: 80%;
}
#id_usuario{
	width: 80%;
}
#id_host{
	width: 80%;
}
form legend{
	width: 90%;
}

.login_campos{
	padding-left: 10%;
}

.boton_salir{
	padding-left: 30%;
}